/*
    display: block vs display: inline
    block
        ocupa toda a linha colocando o proximo elemento abaixo deste
        width e height sao respeitados
        padding, margin, border irsao funcionar normalmente
    
    inline
        elementos ao lado um dos outros
        width e height nao funcionam
        somente valores horizontais de margin, padding e border

    exemplos
    block: <p> <div> <section> <h1> <h2>...
    inline: <a> <strong> <span> <em>...
*/
#div1 {
    display: inline;
}

#div2 {
    height: 100px;
    width: 10px;
    border: 1px solid red;
    margin: 20px;
    /* display: inline; */
}

#span1 {
    width: 10px;
    height: 100px;
    border: 1px solid green;
    margin: 100px;
    /* display: block; */
}